In [22]:
import pandas as pd

In [23]:
import numpy as np

In [24]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,Dest,Distance,TaxiIn,TaxiOut,target,Id
0,8,14,4,1334.0,1440.0,XE,430,N13553,54.0,FAT,SAN,314,3.0,9.0,0,FYNC08ZRT1MS
1,5,3,6,1706.0,2016.0,XE,2567,N12924,103.0,BNA,EWR,748,9.0,18.0,1,4M3EPJ0BFKNV
2,7,11,5,1323.0,1507.0,XE,2989,N19966,125.0,CLT,IAH,913,6.0,33.0,1,OR30D5LJS4AF
3,12,11,4,2039.0,2238.0,WN,3743,N215WN,224.0,BWI,DEN,1491,5.0,10.0,1,0PRTFL3QD5ZI
4,5,23,5,1628.0,1744.0,UA,926,N347UA,60.0,LAX,SFO,337,3.0,13.0,1,DR7UZO31NC2A

In [25]:
df = pd.read_csv("train.csv")

In [26]:
df_new = df.drop("target", axis = 1)

In [27]:
test = pd.read_csv("test.csv")

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
logreg = LogisticRegression()

In [30]:
target = df["target"]

In [31]:
df.isnull().sum(axis=0)

Month                0
DayofMonth           0
DayOfWeek            0
DepTime          38968
ArrTime          43259
UniqueCarrier        0
FlightNum            0
TailNum          23818
AirTime          44155
Origin               0
Dest                 0
Distance             0
TaxiIn           43259
TaxiOut          39191
target               0
Id                   0
dtype: int64

In [32]:
df3 = df_new

In [33]:
df3 = df3.drop("DepTime", axis = 1)
df3 = df3.drop("ArrTime", axis = 1)
df3 = df3.drop("TailNum", axis = 1)
df3 = df3.drop("AirTime", axis = 1)
df3 = df3.drop("TaxiIn", axis = 1)
df3 = df3.drop("TaxiOut", axis = 1)
df3 = df3.drop("Id", axis = 1)

In [35]:
df3 = df3.drop("Dest", axis = 1)

In [38]:
df3 = df3.drop("Origin", axis = 1)

In [40]:
df3 = df3.drop("UniqueCarrier", axis = 1)

In [41]:
logreg.fit(df3, target)

LogisticRegression()