In [38]:
import pandas as pd

In [39]:
import numpy as np

In [40]:
df = pd.read_csv("train.csv")

In [41]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,Dest,Distance,TaxiIn,TaxiOut,target,Id
0,8,14,4,1334.0,1440.0,XE,430,N13553,54.0,FAT,SAN,314,3.0,9.0,0,FYNC08ZRT1MS
1,5,3,6,1706.0,2016.0,XE,2567,N12924,103.0,BNA,EWR,748,9.0,18.0,1,4M3EPJ0BFKNV
2,7,11,5,1323.0,1507.0,XE,2989,N19966,125.0,CLT,IAH,913,6.0,33.0,1,OR30D5LJS4AF
3,12,11,4,2039.0,2238.0,WN,3743,N215WN,224.0,BWI,DEN,1491,5.0,10.0,1,0PRTFL3QD5ZI
4,5,23,5,1628.0,1744.0,UA,926,N347UA,60.0,LAX,SFO,337,3.0,13.0,1,DR7UZO31NC2A

In [42]:
df_new = df.drop("target", axis = 1)

In [43]:
test = pd.read_csv("test.csv")

In [44]:
test.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,Dest,Distance,TaxiIn,TaxiOut,Id
0,8,15,5,806.0,957.0,UA,1157,N834UA,111.0,DFW,DEN,641,8.0,52.0,QKXNUJO50EPF
1,10,14,2,2020.0,2133.0,WN,1965,N203WN,49.0,PHX,ONT,325,4.0,20.0,Y2XFDOHQK6VM
2,6,1,7,2245.0,9.0,FL,910,N943AT,67.0,ATL,PHF,508,6.0,11.0,TU5QMACJHR10
3,12,31,3,1638.0,1753.0,OO,5732,N567SW,66.0,GEG,SEA,224,3.0,6.0,0731ET5Z9FWJ
4,10,23,4,1544.0,2358.0,AA,22,N329AA,289.0,LAX,JFK,2475,12.0,13.0,5BNGICLQFKSO

In [45]:
from sklearn.linear_model import LogisticRegression

In [46]:
logreg = LogisticRegression()

In [47]:
target = df["target"]

In [48]:
df.isnull().sum(axis=0)

Month                0
DayofMonth           0
DayOfWeek            0
DepTime          38968
ArrTime          43259
UniqueCarrier        0
FlightNum            0
TailNum          23818
AirTime          44155
Origin               0
Dest                 0
Distance             0
TaxiIn           43259
TaxiOut          39191
target               0
Id                   0
dtype: int64

In [49]:
df3 = df_new

In [50]:
df3 = df3.fillna(0)

In [51]:
df3["AirTime"] = df3["AirTime"].astype(int)
df3["DepTime"] = df3["DepTime"].astype(int)
df3["ArrTime"] = df3["ArrTime"].astype(int)
df3["TaxiIn"] = df3["TaxiIn"].astype(int)
df3["TaxiOut"] = df3["TaxiOut"].astype(int)

In [52]:
df3 = df3.drop("TailNum", axis = 1)
df3 = df3.drop("Id", axis = 1)
df3 = df3.drop("UniqueCarrier", axis = 1)

In [53]:
logr = logreg.fit(df3, target)

ValueError: could not convert string to float: 'DEN'

In [ ]:
test.head()

In [ ]:
test = test.drop("UniqueCarrier", axis = 1)
test = test.drop("TailNum", axis = 1)
test = test.drop("Origin", axis = 1)
test = test.drop("Dest", axis = 1)
test = test.drop("Id", axis = 1)

In [ ]:
origin_mte = X[['Origin', 'target']].groupby('Origin')['target'].mean()
origin_mte.name = 'Origin_MTE'
df3 = pd.merge(X, origin_mte, how='left', on='Origin')

In [ ]:
test = test.fillna(0)

In [ ]:
test.head()

In [ ]:
proba = logr.predict_proba(test)[:, 1]

In [ ]:
submission = pd.read_csv("sample_submission.csv")

In [ ]:
submission['target'] = proba

In [ ]:
submission.to_csv("submission", index = False)